.element__footer {
    width: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    padding: 0 19px 0 21px;
    background-color: #fff;
}